<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576295940263-4suiqfvep537cts0csgot4i09u139m9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576295940263-4suiqfvep537cts0csgot4i09u139m9g</string>
	<key>API_KEY</key>
	<string>AIzaSyAS28I1vNeyl7_g0XQhq6LMQtdW6-6n6L8</string>
	<key>GCM_SENDER_ID</key>
	<string>576295940263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socketChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-me-app-ff833</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-me-app-ff833.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576295940263:ios:58ba5fa84556c341976b82</string>
</dict>
</plist>